<script src="https://assets.pagar.me/js/pagarme.min.js"></script>
<h3>Pagamento com cartao</h3>

<form id="payment_form" action="http://localhost:3000/transacao/novo" method="POST">
    Número do cartão: <input type="text" id="card_number"/>
    <br/>
    Nome (como escrito no cartão): <input type="text" id="card_holder_name"/>
    <br/>
    Mês de expiração: <input type="text" id="card_expiration_month"/>
    <br/>
    Ano de expiração: <input type="text" id="card_expiration_year"/>
    <br/>
    Código de segurança: <input type="text" id="card_cvv"/>
    <br/>
    <div id="field_errors">
    </div>
    <br/>
    <input type="submit"></input>
</form>

Bandeira –  Número Cartão Validade – Cód. Segurança

<p>Visa: 4012001037141112 05/2018 123</p>
<p>MasterCard:  5453010000066167 05/2018 123</p>
<p>Visa: 4012001038443335 05/2018 123</p>
<p>Mastercard: 5453010000066167 05/2018 123</p>
<p>Americacan Express: 376449047333005 05/2018 1234</p>
<p>Eloo: 6362970000457013 05/2018 123</p>
<p>inners Club:  36490102462661 05/2018 123</p>
<p>Discover: 6011020000245045 05/2018 123</p>
<p>Jcb: 3566007770004971 05/2018 123</p>
<p>Aura: 5078601912345600019 05/2018 123</p>
