//-------------------------------------
// EASTER EGG
//-------------------------------------


.photo
	background-image: image-url("pata_facto.png")
	background-size: 100%
	width: 42px
	height: 42px
	
.gif
	background-image: image-url("GIF_elefantes.gif")
	opacity: 0
	transition: opacity 1s
	width: 500px
	height: 500px

.gif--active
	opacity: 1
	transition: opacity 1s
