div#countdown-wrapper
	div.photo
	div.gif 																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								