div#countdown-wrapper
	div#image
		= image_tag("pata_facto.png", size: "42") 																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								