.countdown-clock
  display: none
  height: 320px
  margin-top: 15%

  h1
    font-size: 50px
    color: $color-white

  div
    height: 200px
    width: 200px
    color: $color-blue-dark
    display: inline-block
    margin: 10px
    padding-top: 50px
    padding-bottom: 0
    border-radius: 200px
    font-size: 30px
    background-color: $color-blue-xlight
    
    h4
      margin: 0
