//-------------------------------------
// #COLORS
// Neste lugar é definida todas as variáveis
// de cor, não é interessante que tenha cor em
// hexadecimal no projeto, pois dificulta a mudança
// depois, e deixa o projeto mais propicio a
// inconsistencia nas cores.
// As cores abaixo são somente exemplos,
// no lugar delas, devem ser colocadas a paleta de
// cores do projeto.
//-------------------------------------


// BLACK AND WHITE
$color-black: #000
$color-white: #fff

// RED
$color-red: #c23546

// BLUE
$color-blue: #4a90e2
$color-blue-dark: #004b88
$color-blue-xlight: #c5d8e8

// GREEN
$color-green: #449942


$color-gray-xdark: hsl(0, 0%, 30)
$color-gray-dark: hsl(0, 0%, 60)
$color-gray-light: hsl(0, 0%, 85)
$color-gray-xlight: hsl(0, 0%, 95)
